version: '3.9'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: contactdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    image: harbor.registry.local/skr/backend:v30 # pull from Harbor
    depends_on:
      - db
    ports:
      - "5000:5000"

  frontend:
    image: harbor.registry.local/skr/frontend:v30 # pull from Harbor
    depends_on:
      - backend
    ports:
      - "3000:80"

volumes:
  pgdata:
